<h1>Edit Wiki</h1>
<div class="row">
  <div class="col-md-8">
    <p>Some tips if you want to use markdown:</p>
    <ul>
      <li>Use three back ticks before and after your code to create a code block. (```code```)</li>
      <li>To bold something use two astricks before and after your text (**text to bold**)</li>
      <li>To create block quotes insert a '>' before your text </li>
    </ul>
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      </div>
      <% if current_user.admin? || current_user.premium? %>
        <div class="form-group">
          <%= f.label :private, class: 'checkbox' do %>
            <%= f.check_box :private %> Private wiki
          <% end %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <p>Collaborators</p>
    <%= render partial: 'collaborators/collaborator', locals: {wiki: @wiki} %>
  </div>
</div>
